{% extends 'book_store/base.html'%}
{% load static %}

{% block content %}
<div class="container">
{% if cart_positions %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Наименование</th>
      <th scope="col">На складе</th>
      <th scope="col">Количество</th>
      <th scope="col">Цена</th>
      <th scope="col">Итог</th>
      <th scope="col">Статус</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for cart_position in cart_positions %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url "product" cart_position.item.slug %}">{{ cart_position.item.name }}</a></td>
      <td>{{ cart_position.item.count_in_stock }}</td>
      <td><a href="{% url "remove_cart" cart_position.item.id %}"><span class="badge bg-primary">–</span></a>  {{ cart_position.count }}  <a href="{% url "add_cart" cart_position.item.id %}"><span class="badge bg-primary">+</span></a></td>
      <td>{{ cart_position.item.cost }}</td>
      <td>{{ cart_position.total }}</td>
      <td>{{ cart_position.get_status_display }}</td>
      <td><a href="{% url "remove_cart_position" cart_position.item.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
</svg></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  <h6>Итого к оплате: {{ total_sum }}</h6>
    <a href="{% url "create_order" %}"><button type="button" class="btn btn-outline-primary btn-sm">Оплатить</button></a>
{% else %}
  <p>В корзине ничего нет. Воспользуйтесь поиском или перейдите в <a href="{% url "catalog" "all" %}">каталог</a>, чтобы найти интересные товары.</p>
{% endif %}
</div>
{% endblock %}