{% extends 'book_store/base.html'%}
{% load static %}

{% block content %}
<div class="container">
    <div class="card border-0">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <figure>
                        <img src="{{ user.photo.url }}" class="img-fluid rounded-0" alt="{{ profile }}">
                    </figure>
                </div>
                <div class="col-md-9">
                     <h5 class="card-title">
                        {{ profile }}
                    </h5>
                    <div class="card-text">
                        <ul>
                            <li>Логин: {{ user.username }}</li>
                            <li>Email: {{ user.email }}</li>
                            {% if user.get_full_name %} <li>Имя и фамилия: {{ user.get_full_name }}</li> {% endif %}
                            <li>Заходил: {{ user.last_login }}</li>
                            <li>Дата рождения: {{ user.date_of_birth }}</li>
                        </ul>
                    <a href="{% url 'profile_edit' %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
                    <a href="{% url 'history_user' %}" class="btn btn-sm btn-primary">История покупок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}